{% extends "base.html" %}
{% block title %}FeedBack{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block page_content %}
  <form style="" action="/send_feedback" method="post" id="feedback">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">
          <label><b>Email Address</b></label>
          <input type="email" name="email" placeholder="email address" class="form-control" required>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">
          <label for="comment">Enter Feedback</label>
          <textarea class="form-control" rows="8" name="feedback_msg" required></textarea>
        </div>
      </div>
    </div>
    <br / >
    <input class="pull-right" type="submit" value="Send Feed Back">
  </form>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>$('#feedback').validate();</script>
{% endblock %}